@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100vw; 
    height: 100vh; 

}

.section__icone_alura {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section__icone_alura__icone {
    position: absolute;
    top: 0;
    width: 120px;
    height: 50px;
    margin: 40px 40px;
}

.section__texto {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: 40px;

}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  margin-top: 0;
  margin-left: 0;
  max-width: 100%;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  border: none; 
  outline: none;
  box-shadow: none;
  background-color: #F3F5FC;
  font-size: 23px;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea::placeholder {
  color: #0A3871;
}

.section__texto_executar_acao {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
}

.icone__section {
    width: 100%;
    height: 100%;
    max-width: 10px;
    max-height: 10px;
    margin-right: 2px;
}

.section__texto_executar_acao__aviso {
    font-size: 10px;
    font-weight: 500;
    color: #495057;
    margin-top: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;

}

.section__texto__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 0;  
    width: 580px;
    height: 47px;
}   

.botao {
    background-color: #0A3871; 
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 328px;
    text-align: center;
    border-radius: 27px;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0;
    text-decoration: none;
    color: #E9ECF8;
}

.botao:hover {
    background-color: #1a4172; 
    color: #E9ECF8;
    cursor: pointer;
}

.botao-2 {
    background-color: #D8DFE8; 
    border: 1px solid #0A3871;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 328px;
    text-align: center;
    border-radius: 27px;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0;
    text-decoration: none;
    color: #0A3871;
}

.botao-2:hover {
    background-color: #b7b9c2; 
    color: #0A3871;
    cursor: pointer;
}

.section__texto__resposta {
    background-color: #FFFFFF;
    width: 100vw; 
    height: 90%;
    max-width: 300px; 
    max-height: 844px; 
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px; 
    box-sizing: border-box;
    flex: 1;
}

.section__texto__resposta__resultado__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icone__section__resultado {
    width: 100%;
    height: 100%;
    max-width: 236px;
    max-height: 204px;
}

.section__texto__resposta__resultado__container__texto {
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 16px;
    margin-left: 20%;
    margin-right: 20%;
}

.section__texto__resposta__resultado {
    font-size: 16px;
    font-weight: 500;
    color: #343A40;
    margin-top: 0;

}

.section__texto__resposta__subtitulo {
    font-size: 10px;
    font-weight: 500;
    color: #495057;
    margin-top: 0;
}

.section__texto__resposta__final {
    font-size: 16px;
    font-weight: 500;
    color: #343A40;
    margin-top: 0;
}

.botao-3 {
    margin-top: 200px;
    background-color: #D8DFE8; 
    border: 1px solid #0A3871;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 250px;
    text-align: center;
    border-radius: 27px;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0;
    text-decoration: none;
    color: #0A3871;
}

.botao-3:hover {
    background-color: #b7b9c2; 
    color: #0A3871;
    cursor: pointer;
}

.botao-3:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    border: 1px solid #335f96;
    color: #335f96;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.0rem;
    font-weight: 400;
    width: 100%; 
    height: 10vh; 
    position: fixed; 
    bottom: 0; 
    margin: 0; 
    box-sizing: border-box;
}
